{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Techedu</title>

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    </head>

    <body>
        {% include 'app/navigation.html' %} 

        <!-- hero -->
        <section id="about-home">
            <h1>About TechEduca</h1>
         </section>

        <section id="about-container">
            <div class="about-img">
                <img src="{% static 'images/a.png' %}" alt="About Image">
            </div>
            <div class="about-text">
                <h2>About Us</h2>
                <p>TechEduca is a leading online learning platform that offers a wide range of courses in technology, business, and personal development. Our mission is to empower individuals with the knowledge and skills they need to succeed in today's fast-paced world.</p>
                <div class="about-fe">
                    <img src="{% static 'images/fe1.png' %}" alt="">
                    <div class="about-fe-text">
                        <h3>Our Mission</h3>
                        <p>To provide high-quality education that is accessible to everyone, empowering individuals to achieve their goals and reach their full potential.</p>
                    </div>
                </div>
                <div class="about-fe">
                    <img src="{% static 'images/fe2.png' %}" alt="">
                    <div class="about-fe-text">
                        <h3>Our Mission</h3>
                        <p>To provide high-quality education that is accessible to everyone, empowering individuals to achieve their goals and reach their full potential.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Features -->
        <section id="features">
            <h1>Features</h1>
            <p>Discover the features that make our platform unique.</p>
            <div class="fea-base">
                <div class="fea-box">
                    <i class="fas fa-laptop-code"></i>
                    <a href="{% url 'blog' %}" style="text-decoration: none;"><h3>Interactive Courses</h3></a>
                    <p>Engaging and interactive courses to enhance your learning experience.</p>
                </div>
                <div class="fea-box">
                    <i class="fas fa-users"></i>
                    <a href="{% url 'blog' %}" style="text-decoration: none;"><h3>Community Support</h3></a>
                    <p>Join a community of learners and get support from peers and instructors.</p>
                </div>
                <div class="fea-box">
                    <i class="fas fa-certificate"></i>
                    <h3>Certification</h3>
                    <p>Earn certificates upon course completion to showcase your skills.</p>
                </div>
            </div>
        </section>

        <!-- trusted by -->
        <section id="trust">
            <h1>Trusted by</h1>
            <p>Join thousands of learners who trust us for their education.</p>
            <div class="trust-img">
                <img src="{% static 'images/hust_logo.jpg' %}" alt="HUST Logo">
                <img src="{% static 'images/hnue_logo.jpg' %}" alt="Trust Image 2">
                <img src="{% static 'images/haui_logo.jpg' %}" alt="Trust Image 3">
                <img src="{% static 'images/Logo-NEU.png' %}" alt="Trust Image 4">
                <img src="{% static 'images/Logo_HUET.svg.png' %}" alt="Trust Image 5">
                <img src="{% static 'images/Logo_PTIT.jpg' %}" alt="Trust Image 6">
            </div>
        </section>

        {% include 'app/footer.html' %}

    </body>

</html>
