<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech2 etc Tutorial</title>

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

        <link rel="stylesheet" href="style.css">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    </head>

    <body>

        <!-- Navigation -->
        <nav>
            <img src="images/logo.svg" alt="Logo" class="logo">
            <div class="navigation">
                <ul class="nav-links">
                    <i id="close-btn" class="fas fa-times"></i>
                    <li><a href="#">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="course.html">Courses</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <img id="menu-btn" src="images/menu.png" class="menu-icon">
            </div>
        </nav>
        <!-- hero -->

        <!-- contact -->

        <!-- map -->

        <!-- footer -->


        <script>

            // Navaigation Bar

        </script>

    </body>

</html>