{% load static %}

<!-- templates/partials/navigation.html -->
<nav>
    <img src="{% static 'images/logo.svg' %}" alt="Logo" class="logo">
    <div class="navigation">
        <ul class="nav-links">
            <li><a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
            <li><a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a></li>
            <li><a href="{% url 'blog' %}" class="{% if request.resolver_match.url_name == 'blog' %}active{% endif %}">Blog</a></li>
            <li><a href="{% url 'courses' %}" class="{% if request.resolver_match.url_name == 'courses' %}active{% endif %}">Courses</a></li>
            {% if user.is_authenticated %}
                <li class="dropdown">
                    <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'images/avatar-default.png' %}{% endif %}" alt="User Avatar" class="avatar">
                    <div class="dropdown-content">
                        <a href="{% url 'profile' %}">Profile</a>
                        <a href="{% url 'my_courses' %}">My Courses</a>
                        <a href="{% url 'my_blogs' %}">My Blogs</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}" class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">Login</a></li>
                <li><a href="{% url 'signup' %}" class="{% if request.resolver_match.url_name == 'signup' %}active{% endif %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>